.top-detail-container {
    display: grid;
    grid-template-columns: 90% auto;
    margin-bottom: 20px;

    .detail-page {
        box-sizing: border-box;
        display: grid;
        width: 526px;
        grid-template-columns: auto auto;
        gap: 10px;

        .detail-item {
            place-self: flex-start;
        }

        .info-name {
            grid-column: 1/3;
        }
    }

    .edit {
        box-sizing: border-box;
        margin: 0 auto;

        a {
            width: 64px;
            height: 32px;
            font-size: 0.8rem;
        }
    }
}
.bottom-detail-container {
    .leave-table {
        height: 47vh;
        overflow-y: auto;
    }
}

.noStudentSelected {
    width: 75%;
    display: grid;
    place-items: center;
}
