.container {
    box-sizing: border-box;
    width: 85vw;
    height: 88vh;
    // background-color: #C5CAE9;
    padding: 10px;

    .toggle-container {
        box-sizing: border-box;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .table-container{
        height: 90%;
        overflow: auto;
    }
}
